.topbar {
  width: 100%;
  height: 50px;
  background-color: white;
}

.topWrapper {
  height: 100%;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logoheading {
  font-weight: bold;
  font-size: 31px;
  color: deepskyblue;
}
.topRightIconConatiner {
  position: relative;
}
